body{
    /*background-image: url("../image/exbg.jpg");
    background-size: cover;*/
    background-color: rgb(232, 221, 233);
    background-repeat: no-repeat;
}

header{
    text-indent: 50px;
}

.navbar{
    display: flex;
    justify-content: center; 
    gap: 150px; 
    padding: 20px;
}

.navbar a{
    color: rgb(66, 3, 126);
    text-decoration: none;
    font-weight: bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: x-large;
}

.navbar a:hover{
    text-decoration: underline;
}

.first-job{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    border: 2px solid rgb(61, 10, 95);
    background-image: url("../image/textbg.jpg");
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.first-job img{
    margin-right: 30px;
    margin-bottom: 20px;
    float: right;
    border: 2px solid rgb(65, 2, 73);
    transition: all 1s;
}

.first-job img:hover{
    transform:scale(1.1);
}

.sec-job{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    border: 2px solid rgb(61, 10, 95);
    background-image: url("../image/textbg.jpg");
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.sec-job img{
    margin-right: 30px;
    margin-bottom: 20px;
    float: right;
    border: 2px solid rgb(65, 2, 73);
    transition: all 1s;
}

.sec-job img:hover{
    transform:scale(1.1);
}

.third-job{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    border: 2px solid rgb(61, 10, 95);
    background-image: url("../image/textbg.jpg");
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.third-job img{
    margin-right: 30px;
    margin-bottom: 20px;
    float: right;
    border: 2px solid rgb(65, 2, 73);
    transition: all 1s;
}

.third-job img:hover{
    transform:scale(1.1);
}

h2{
    color: rgb(29, 3, 54);
    text-align: center;
    font-size: x-large;
}

p{
    margin-left: 30px;;
    text-align: justify; 
    letter-spacing: 2px;
    font-size: larger;
}

.skill{
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 20px;
    border: 2px solid rgb(61, 10, 95);
    background-image: url("../image/textbg.jpg");
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.skill ul{
    margin: 20px;
    color: rgb(29, 3, 54);
    text-align: justify;
    font-size: larger;
}

footer{
    .social_links{
        margin-top: 20px;
        border: 4px solid rgb(61, 10, 95);
        text-align: center; 
        background-color: rgb(192, 192, 192);
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}

.social_links{
    a:hover{
        color: rgb(61, 10, 95);
        font-size: medium;
        margin: 0;
        text-decoration: underline;
    }
}

.social_links{
    p{
        text-align: center;
        font-size: small;
    }
}