.form1{
    background-color: rgb(235, 234, 234);
    padding: 15px 20px;
    border: 1px solid rgb(204, 204, 204);
    max-width: 850px;
    margin: auto;
}

h2{
    color: crimson;
    font-size: larger;
    font-weight: bold;
}

span{
    color: crimson;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(255, 255, 255);
}

.fgroup{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.fgroup label{
    font-weight: bold;
    flex-basis: 280px;
    text-align: right;
    margin-right: 10px;
}

.label{
    flex-basis: 305px;
    text-align: right;
    margin: 20px;
}

.info{
    color: rgb(128, 128, 129);
    font-weight: 500;
}

.button{
    height: 30px;
    width: 80px;
    background-color: rgb(206, 206, 206);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 45%;
}

.button1{
    height: 30px;
    width: 80px;
    background-color: rgb(206, 206, 206);
    color: rgb(0, 0, 0);
    border: 1px solid black;
    border-radius: 45%;
}