body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: white;  
}

header{
    /* background-color: #4CAF50; */
    color: white;
    padding: 10px 0;
    border: 2px solid black;
}

img{
    text-align: justify;
    margin-left: 40px;
}

nav{
    /* background-color: #333; */
    text-align:right;
    margin-right: 40px;
}

nav a{
    color: rgb(91, 9, 102);
    padding: 14px 20px;
    text-decoration: underline;      
    display: inline-block;
}

nav a:hover{
    background-color: #dedddd;
    transform: scaleX(1.1);
    transition: 0.3s;
}

/* .container{
    width: 80%;
    margin: 0 auto;
    border: black 2px solid;
    text-align: center;
} */

/*Section{
    padding: 10px;
    width: 800px;              
    border: 2px solid black;
    border-radius: 8px;
    text-align: left;          
    margin: 60px auto 120px;   
} */

section {
    max-width: 500px;
    margin: 35px auto;
    border: 1px solid black;
    border-radius: 5px;
    text-align: justify;
}

section h2 {
    text-align: justify;   
    margin: auto; 
    margin-left: 10px; 
    margin-bottom: 10px;   
}

/* form {
    display: flex;
    flex-direction: column;
    gap: 15px;                 
    color: black;              
} */

form{
    max-width: 470px;
    margin: 0 auto;
    background-color: #fff;
} 

.gender, .date{
    border: black 1px solid;
}

h4{
    margin: auto;
    margin-left: 10px;
}

label {
    display: inline-block;
    width: 150px;
    margin-left: 20px;
    text-align: right;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"] {
    width: 250px;
    border: 1px solid #ccc;
}

input[type="submit"] {
    margin-bottom: 10px;
}

input[type="submit"]:hover {
    background-color: #4CAF50;
    color: white;
}

input[type="reset"]:hover {
    background-color: #679cf7;
    color: white;
}

footer{
    background-color: white; 
    color: black;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
    border: 2px solid black;
}